@{
   
        Layout = "_adminLayout"; 
    ViewBag.Title = "Admin Welcome";
}

<!-- Main Content -->
<section class="text-gray-300 body-font">
    <div class="container px-5 py-24 mx-auto text-center">
        <h1 class="text-4xl font-bold mb-8 text-white">Welcome, Admin!</h1>
        <p class="text-lg">Use the navigation buttons above to manage products.</p>
    </div>
</section>