@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class=" container d-flex justify-content-center gap-3 ">

    @if (User.Identity.IsAuthenticated)
    {
        <a asp-controller="Travel" asp-action="Index" class="btn btn-primary"> Book Now </a>
    }
    else
    {
        <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-danger"> Book Now </a>
    }

</div>